.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.columnInfo {
  background-color: #343a40;
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 72px;
  letter-spacing: 1px;
  color: #f4f6f9;
}

.columnForm {
  background-color: #f4f6f9;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 80%;
}

.button {
  color: black;  
}